[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
ipykernel = "*"

[dev-packages]
mypy = "*"
ruff = "*"
black = "*"
isort = "*"